@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Euclid Circular B", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --muted-color: #b5b4b4;
  /* color-scheme: light dark; */
  color: #292929;
/*
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hide scrollbar but keep functionality */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

}

::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* #root{
  @apply absolute inset-0 w-dvw
} */
* {
  margin: 0;
  padding: 0;
}

body {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5F5F5;
}

header span button img {
  width: 32px;
  height: 32px;
}

header {
  /* height: 150px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 30;
  border-bottom:1px solid #858585; */
  /* border-color: ; */
}
main {
  /* margin-top: 150px; */
}

header > nav > a {
  max-width: 170px;
  flex:1;
  justify-content: center;
}
nav img {
  width: 24px;
  height: 24px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
}

h5{
  font-size: 14px;
  color: #3D3D3D;
  display: inline;
}
h6{
  font-size: 10px;
  color: #3D3D3D;
  display: inline;
}



button.active{
  background-color: #F5F5F5;
  border-radius: .5em;
}
div#card{
  background-color: white;
  border: solid 1px #d8d8d8;
  border-radius: 1em;
  overflow: hidden;
}

div#card >div{
  padding: 1em;
  
}

#cardContent span{
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.slider-container{
  @apply min-w-[418px] h-[286px] flex justify-center relative rounded-xl overflow-hidden
}

@layer utilities {
  /* Custom font family utilities */
  .font-euclid {
    font-family: "Euclid Circular B", sans-serif;
  
  }
}